{% extends 'base.html' %}

{% block content %}

<div class="col">
    <div class="h3">
        Mis direcciones 
        <a href="https://github.com/" target="_blank">
            <i class="fab fa-github"></i>
          </a>          
    </div>
    <a href="{% url 'shipping_addresses:create' %}">Agregar nueva direccion</a>
    <div class="mt-2">
        {% for shipping_address in object_list %}
        <div class="mt-2">
            {% include 'shipping_address/snippets/shipping_address.html' with edit=True%}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
